- if user_signed_in?
  %section.user-container
    %h1 Sponsor a Habit
    %ul.list-unstyled.habits-list#habits-list
      - @habits.each do |habit|
        = render partial: 'habits/habit', locals: { habit: habit }
    %br
- else
  %section.visitor-container
    = link_to "LOGIN", login_path, class: 'btn btn-large'
